---
networks:
  demo:
    name: traefik
    external: true
services:
  markitdown-api:
    build:
      context: .
    container_name: markitdown-api
    networks: ['demo']
    hostname: markitdown-api
    ports:
    - 8490:8490
    restart: always
